@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

$primary: #b32b2b;
$team: #574b96;
$ravens: $team;
$secondary: #e8d5f0;

.card {
  width: 400px;
  aspect-ratio: 400 / 541;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform-style: preserve-3d;
}
.card-face {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  position: absolute;
}
.card-front {
  z-index: 1;
  backface-visibility: hidden;
  .player-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .card-info {
    background-color: $primary;
    width: 50%;
    padding: 1em;

    height: 100%;
    clip-path: polygon(25% 0%, 100% 0, 100% 100%, 21% 100%, 0 89%, 0 10%);

    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 16px;
  }
}

.player-header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}

.player-position {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  width: 100px;
  text-align: right;

  h2 {
    width: 100%;
    font-size: 32px;
    color: #fff;
    line-height: 0.8;
    margin: 0;
    letter-spacing: 1px;
    text-align: right;
  }

  p {
    font-size: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 2px;
  }
}

.player-ovr {
  background-image: url(ASSETS/ovrbdg.svg);
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: 0 0;
  width: 60px;
  height: 60px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 4px;

  .ovrnum {
    font-family: Alata;
    font-size: 20px;
    color: #fff;
    line-height: 0.9;
    margin: 0;
  }
  .ovrtxt {
    font-size: 10px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 1px;
    margin: 0;
  }
}

.player-info {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: fit-content;
}
.player-name {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  margin-block: 0;
  text-align: center;
  order: 2;
}

.player-number {
  font-family: "Alata", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: white;
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  margin: 0;
  text-align: center;
  line-height: 0.8;
}

.player-bio {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 10px;
  line-height: 1.5;
  text-align: center;
}

.player-logos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  img {
    height: 40px;
    width: auto;
  }
}

.btn {
  background: #e8d5f0;
  color: #5c509c;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  cursor: pointer;
  align-self: flex-start;
  transition: all 0.2s;
  align-items: center;
}

.btn-player-stats {
  align-self: flex-end;
  position: relative;
  z-index: 3;
}

.btn:hover {
  background: rgba(255, 255, 255, 0.35);
  border-color: rgba(255, 255, 255, 0.7);
  transform: translateY(-1px);
}

.card-back {
  background-image: url(../ASSETS/bcraven.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.card-back:after {
  content: "";
  width: 80px;
  height: 80px;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  background-color: $ravens;
  position: absolute;
  right: 0;
  bottom: 0;
}
.card-back:before {
  content: "";
  width: 80px;
  height: 80px;
  clip-path: polygon(0 1%, 0% 100%, 100% 0);
  background-color: $ravens;
  position: absolute;
  left: 0;
  top: 0;
}

.header-back {
  transform: rotate(-90deg);
  transform-origin: center;
  color: #ffffff;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 40px;
  text-wrap: nowrap;
  position: absolute;
  top: 200px;
  right: -170px;
}
* {
  outline: 1px solid red;
}

.player-stats {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3em 5em 2em 2em;
}

.stat-value,
.accolades,
.player-attributes {
  width: 100%;
  height: fit-content;
  color: $primar;
}
.stats-top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 14px;
}

.height-stat {
  display: flex;
  flex-direction: column;
  
  left: 8px;
    top: 52px;
}

.height-stat .h-stat {
  font-size: 3.2rem;
  font-weight: 900;
  color: #f20000;
  line-height: 1;
  position: relative;
    
    left: 1px;
    bottom: -50px;
}


.accolades {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.accolades span {
  font-size: 1.1rem;
  font-weight: 800;
  color: #fff;
  line-height: 1.7;
}

.divider {
  height: 2px;
  background: linear-gradient(
    to right,
    #e83030,
    rgba(232, 48, 48, 0.2),
    transparent
  );
  margin-bottom: 16px;
}

.player-attributes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 14px;
  column-gap: 4px;
  padding: 0 20px 4px;
  position: relative;
  left: 10px;
   top: 30px;
}


.attribute {
  display: flex;
  flex-direction: column;
}

.attribute .stat-value {
  font-size: 3rem;
  font-weight: 900;
  color: #dedede;
  line-height: 1;
  letter-spacing: -0.02em;
}

.attribute .stat-label {
  font-size: 0.9rem;
  font-weight: 700;
  color: #999;
  letter-spacing: 0.08em;
  margin-top: 3px;
}

.card-inner.card-flip {
  transform: rotateY(180deg);
}
 